# Archivos sensibles
.env

# Dependencias
vendor/
node_modules/

# Logs
logs/
*.log

# Archivos temporales
temp/
tmp/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archivos de backup
*.bak
*.backup

# Cache
cache/